<div class="container">
            <div class="row justify-content-md-center py-sm-2 w=90 border-bottom " style="min-width: 800px;">                
                <div class="col-md-auto justify-content-center" id="centrados">
                   
                   <a href="/agregarprofesor" class=""  >
                   <div class="card text-white bg-success mb-3" id="btnagregarusuario" >
                        <div class="card-body">

                    AGREGAR PROFESOR   
                        </div>
                    </div>
                    </a>                                              
                    </div>
                </div>
                
            <div class="row py-sm-2  border-bottom " style="min-width: 800px;">
                <div class="col-2 text-center overflow-auto" >Id_usuarios</div>
                <div class="col-2 text-center overflow-auto" overflow="auto">Usuario</div>
                <div class="col-6 text-center overflow-auto" overflow="auto">Correo</div>
                <div class="col-2 text-center overflow-auto" overflow="auto">Actions</div>
            </div>
                {{#each usuarios}}
                                            <div class="row  row py-sm-2 w=90 border-bottom" style="min-width: 800px;">
                                                <div class="col-2 text-center overflow-auto" > {{id_profe}} </div>
                                                <div class="col-2 text-center overflow-auto" overflow="auto">{{profename}}</div>
                                                <div class="col-6 text-center overflow-auto" overflow="auto">{{emailp}}</div>
                                                <div class="col-1 justify-content-center" overflow="auto">
                                                    <a href="/editarprofesor/{{id_profe}}" class="justify-content-center"> <i class="fas fa-edit justify-content-center"></i></a>  
                                                </div>
                                                <div class="col-1 justify-content-center" overflow="auto">
                                                       <a href="/eliminarprofesor/{{id_profe}}" class="justify-content-center"><i class="fas fa-trash-alt justify-content-center"></i></a>       
                                                </div>
                                                </div>
                                                {{/each}}
                                        </div>