
<div class="mx-auto">
<div class="col text-center">
    MODIFICAR USUARIO
</div>
<br>
<div class="mx-auto py-xl-8">
    {{#each usuarios}}
<form action="/modificarusuario/{{id_usuario}}" method="POST">
                       <div class="row py-sm-2 ">
                            <div class="col-2 text-right">Usuario:</div>
                            <div class="col-9">
                            <div class="form-group">
                                <input type="text" name="usuario" placeholder="{{usuario}}" class="form-control" autofocus>
                            </div>
                            </div>
                        </div>
                        
                        <div class="py-sm-2 row">
                            <div class="col-2 text-right">Password:</div>
                            <div class="col-9">
                            <div class="form-group">
                            <input type="password" name="contraseña" placeholder="" class="form-control">
                            </div>
                            </div>
                        </div>
                        <div class="row py-sm-2 ">
                            <div class="col-2 text-right">Nombre:</div>
                            <div class="col-9">
                            <div class="form-group"> 
                                <input type="text" name="nombre" placeholder="{{nombre}}" class="form-control" autofocus>
                            </div>
                            </div>
                        </div>
                        <div class="py-sm-2 row">
                            <div class="col-2 text-right">Apellido materno:</div>
                            <div class="col-9">
                            <div class="form-group">
                                <input type="text" name="apm" placeholder="{{apm}}" class="form-control" autofocus>
                            </div>
                            </div>
                        </div>
                        <div class="py-sm-2 row">
                            <div class="col-2 text-right">Apellido paterno:</div>
                            <div class="col-9">
                            <div class="form-group">
                            <input type="text" name="app" placeholder="{{app}}" class="form-control" autofocus>
                            </div>
                            </div>
                        </div>
                        <div class="py-sm-2 row">
                            <div class="col-2 text-right"> Email:</div>
                            <div class="col-9">
                            <div class="form-group">
                            <input type="email" name="email" class="form-control" id="Email1" placeholder="{{email}}">
                            </div>
                            </div>
                        </div>
                        <div class="py-sm-2 row ">
                            <div class="col-2 text-right"> Fecha:</div>
                            <div class="col-9">
                            <div class="form-group">
                                <input type="date" name="fechadenacimiento" id="start" name="date"
                                value="{{fechadenacimiento}}"
                                min="1980-01-01" max="2021-12-11" min-with="100%">
                            </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-3 text-center">
                                <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                            </div>
                        </div>
                        </div>
                    </form>
                    {{/each}}
</div>
</div>